name: Deploy to Remote Server

env:
  PACKAGE_NAME : "tyd"
  PACKAGE_VERSION : "1.22"
  
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Build Docker image
      run: |
        docker build -t myapp .
    
    - name: Deploy to Remote Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.FB_IP }}
        username: ${{ secrets.FB_LOGIN }}
        key: ${{ secrets.FB_KEY }}
        script: |
          docker stop tyd || true
          docker rm tyd || true
          docker run -d --rm -e TOKEN="${{ secrets.TYD_TOKEN }}" -e SOID=${{ secrets.TYD_SOID }} --name {{ env.PACKAGE_NAME }} {{ secrets.DOCKER_USERNAME }}/{{ env.PACKAGE_NAME }}
